.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    text-align: center;
    font-size: 16px;
}

.product-image {
    width: 100%;
    height: auto;
}

/* Si aumento el padding la tercera columna se hace mas grande, ojo con esto */
.product-info {
    padding: 10px;
}

.product-title {
    font-size: 24px;
    margin: 10px 0;
}

.product-description {
    color: #777;
    margin: 10px 0;
}

.product-features {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 20px 0;
}

.product-features li {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.product-price {
    color: #e67e22;
    font-size: 22px;
    margin: 20px 0;
}

.buy-button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #d35400;
}
