/* .home_content {
    display: flex;
    flex-direction: row;
    
} */

#testimonio-clientes-section {
    display: flex;
    flex-direction: row;
}

.main-services {
    /* background-color: rgb(41, 69, 148); */
    background-color: rgba(245,130,32,255);
    height: auto; /*debo dejarlo en auto para cuando haga wrap no se distorcione*/
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 60px;
}

.main-service-item {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.item {
    margin-top: 1.4em;
}

.item .card-image {
    height: 15em;
    width: 15em;
}



